#comments
{
	min-width: 100%;
	margin-left: 25%;
	padding-top: 250px;
	position: relative;
}

#oldComments
{
	min-width: 100%;
}

#newComment
{

}

tr:nth-child(even)
{
	background-color: #FFF1B9;
}

tr:nth-child(odd)
{
	background-color: #FFCD08;
}