#featuredGrids
{
	width: 100%;
	padding: 100px;
	box-sizing: border-box;
	color: #E36108 ;
	font-family: Arial;
}

#featuredListing
{
	position: relative;
	margin-bottom: 25px;
	height: 200px;
	background-color:#F3F3F3;
}

#featuredArtist
{
	position: relative;
	margin-bottom: 25px;
	height: 200px;
	background-color:#F3F3F3;
}

#indexUserImage
{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#welcome
{
	margin-top: 100px;
	font-family: helvetica;
}

#welcomeBanner
{
	font-size: 200%;
	color: #E36108;
	padding-left: 100px;
}

#logMessage
{
	padding-left: 100px;
}